// Import Bootstrap (Custom Vanilla build) and Docs
// ---------------------------------------------------------------------------------------------------//

@import "bootstrap/bootstrap.less";
@import "docs.less";


// Bootswatches
// ---------------------------------------------------------------------------------------------------//

// Change "Vanilla" in the url to a swatch of your liking. The included swatches can be found in the
// swatches direcotry. Swatches included: Cerulean, Journal, Simplex, Slate, Spacelab and United.

@import "swatches/Vanilla/variables.less";
@import "swatches/Vanilla/bootswatch.less";

/*----------------------------------------------------------------------------------------------------*/
/* If you want to embed your Vanilla forum, uncomment the following line to enable embed.less */
/*----------------------------------------------------------------------------------------------------*/

//@import "skins/embed.less";

/*----------------------------------------------------------------------------------------------------*/
/* The following files are optional LESS skins */
/*----------------------------------------------------------------------------------------------------*/

//@import "skins/linen.less";

/*----------------------------------------------------------------------------------------------------*/
/* The following files are stylesheets for plugins - enable any you wish */
/*----------------------------------------------------------------------------------------------------*/

@import "plugins/ButtonBar.less";			// Button Bar Plugin
//@import "plugins/CLEditor.less"; 			// CLEditor Plugin
@import "plugins/Emotify.less"; 			// Emotify Plugin
@import "plugins/LastEdited.less"; 			// Last Edited Plugin
@import "plugins/Flagging.less";			// Flagging Plugin
@import "plugins/QnA.less"; 				// QnA Plugin
@import "plugins/Signatures.less"; 			// Signatures Plugin

// Additional Variables
// ---------------------------------------------------------------------------------------------------//

@whiteSmoke: darken(@bodyBackground, 3%);
@whiterSmoke: darken(@bodyBackground, 1%);

@vanillaBodyBackground: lighten(@bodyBackground, 2%);

// Mixins
// ---------------------------------------------------------------------------------------------------//

.fontIcon(@icon) {
	font-family: FontAwesome;
	font-weight: normal;
	content: @icon;
	}
	
.legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 27px;
	font-size: 19.5px;
	line-height: 36px;
	color: #333;
	border: 0;
	border-bottom: 1px solid @tableBorder;
	}

// Basic HTML Elements
// ---------------------------------------------------------------------------------------------------//

a {
	&:hover {
		text-decoration: none;
		}
	}

ol, ul {
	list-style: none;
	margin: 0;
	}

input {
	height: 28px;
	.box-sizing(border-box);
	}

textarea {
	width: 100%;
	.box-sizing(border-box);
	}

form {
	.form-horizontal();
	}

// Advanced Form Elements
// ---------------------------------------------------------------------------------------------------//

.CheckBoxLabel {
	.checkbox();
	padding-left: 0;
	input[type="checkbox"] {
		float: left;
		margin-right: 5px;
		}
	}

// Main Navigation
// ---------------------------------------------------------------------------------------------------//

.subnav {
	left: 0 !important;
	}

.navbar-search {
	margin-top: 0;
	form {
		padding: 4px;
		margin-bottom: 0;
		}
	input[type="text"] {
		padding-right: 26px;
		margin-bottom: 0;
		}
	input[type="submit"] {
		background: url('../images/sprites.png') 0 -196px no-repeat transparent;
		height: 16px;
		width: 16px;
		padding: 0;
		border: none;
		position: absolute;
		top: 10px;
		right: 10px;
		.hide-text();
		.box-shadow(none);
		}
	}

// Sidebar Navigation
// ---------------------------------------------------------------------------------------------------//

#Panel {

	.FilterMenu,
	.PanelInfo {
		padding: 0 15px;
		> li {
			border-bottom: none;
			padding: 0;
			&:first-child {
				border-top: none;
				}
			}
		}

	.FilterMenu {
		padding: 0 15px;
		> li {
			> a {
				display: block;
				margin: 0 -15px;
				padding: 3px 15px;
				&:hover {
					background: @grayLighter;
					}
				}
			&.Active > a {
				color: @white;
				text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
				background-color: @linkColor;
				}
			}
		}
	.PanelInfo {
		> li {
			display: block;
			margin: 0 -15px;
			padding: 3px 15px;
			&:hover {
				background: @grayLighter;
				}
			&.Active {
				background-color: @linkColor;
				> strong a {
					color: @white;
					text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
					}
				}
			}
		}
	}

// Buttons
// ---------------------------------------------------------------------------------------------------//

// Basic Buttons

.Button {
	.btn();
	}

// BigButtons

.BigButton {
	.btn();
	.btn-primary();
	display: block;
	margin: 10px 0;
	}

// Post Comment Buttons

.CommentForm {

	.PreviewButton {
		.btn();
		margin: 0;
		&.Hidden {
			display: none;
			}	
		}

	.WriteButton {
		.btn();
		padding: 5px 10px 6px;
		margin: 0;
		&.Hidden {
			display: none;
			}
		}

	.DraftButton {
		.btn();
		.btn-info();
		margin: 0;
		}
		
	.CommentButton {
		.btn();
		.btn-primary();
		}

	}

// Textarea Forms
// ---------------------------------------------------------------------------------------------------//

.TextBoxWrapper {
	padding-right: 0;
	}

// Vanilla Forum Forms
// ---------------------------------------------------------------------------------------------------//

// Comment Forum

#Form_Comment {
	margin-bottom: 0;
	}

// Modal Windows
// ---------------------------------------------------------------------------------------------------//

.Overlay {
	background: rgba(0,0,0,0.8);
	z-index: @zindexModal;
	}

#Popup {
	
	.Box {
		border: none;
		background: none;
		padding: 0;
		}
	
	.Border {
		.modal();
		padding: 0;
		margin: -250px 0 0 -250px;
		}
		
	.Body {
		background: none;
		padding: 10px 15px;
		.Content {
			border: none;
			.border-radius(6px);
			h1, h2 {
				font-size: 18px;
				line-height: 27px;
				margin: -10px -15px 15px;
				font-weight: bold;
				.modal-header();
				color: @textColor;
				}
			h3 {
				padding: 0 0 9px !important;
				}
			p {
				padding: 0;
				}
			form,
			.Preview {
				.modal-body();
				overflow-x: visible;
				overflow-y: visible;
				padding: 0;
				border-bottom: none;
				}
			.Preview {
				overflow-y: scroll;
				}
			table {
				width: 100%;
				td {
					border: solid @tableBorder;
					border-width: 1px 0;
					padding: 2px 6px;
					}
				}
			.Info {
				margin-top: 0;
				}
				
			.SingleEntryMethod,
			.MultipleEntryMethods {
				width: 100%;
				}
				
			}
		.Footer {
			clear: both;
			.modal-footer();
			margin: 15px -15px -10px;
			border-top: 1px solid @tableBorder;
			.Close {
				.close();
				top: 14px;
				font-size: 24px;
				font-weight: normal;
				}
			}
		input.Button {
			font-size: 13px;
			&:focus {
				outline: none;
				}
			}
		}
	}

// Login Page
// ---------------------------------------------------------------------------------------------------//



// Import Custom styles
// This file must be placed at the end of this file, to make sure that it properly overrides it.
// ---------------------------------------------------------------------------------------------------//

@import "custom.less";

// The Epic End Credits
// ---------------------------------------------------------------------------------------------------//

.credits.well {
	font-size: 11px;
	text-align: center;
	padding: 10px 15px;
	margin-top: 10px;
	color: lighten(@textColor, 35%);
	}