// Import Bootstrap (Custom Vanilla build)
// -------------------------------------------------//

@import "bootstrap/bootstrap.less";

/*--------------------------------------------------*/
/* If you want to embed your Vanilla forum, uncomment
the following line to enable the special embed.less */
/*--------------------------------------------------*/

//@import "embed.less";

/*--------------------------------------------------*/
/* The following files are optional LESS skins */
/*--------------------------------------------------*/

//@import "linen.less";

/*--------------------------------------------------*/
/* The following files are stylesheets for plugins */
/*--------------------------------------------------*/

@import "plugins/QnA.less";
//@import "plugins/WYSIWIG.less";

// Additional variables
// -------------------------------------------------//

@linkColor: #117CC0;

@whiteSmoke: whiteSmoke;
@whiterSmoke: #F9F9F9;

// Main elements
// -------------------------------------------------//

body {
	text-align: left;
	padding: 60px 0;
	&.Entry {
		text-align: left;
		}
	}

a {
	&:hover {
		text-decoration: none;
		}
	}

ul, ol {
	list-style: none;
	margin: 0;
	}

body.Entry .Panel,
body.Conversations.add .Panel,
body.Vanilla.Post .Panel {
	display: none;
	}

body.Entry .Content,
body.Conversations.add .Content,
body.Vanilla.Post .Content {
	width: 100%;
	margin-left: 0;
	}

// Buttons
// -------------------------------------------------//

.btn-primary {
	background-color: #1E8CCF;
	background-image: -moz-linear-gradient(top,#2797D9,#117CC0);
	background-image: -ms-linear-gradient(top,#2797D9,#117CC0);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#2797D9),to(#117CC0));
	background-image: -webkit-linear-gradient(top,#2797D9,#117CC0);
	background-image: -o-linear-gradient(top,#2797D9,#117CC0);
	background-image: linear-gradient(top,#2797D9,#117CC0);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2797d9',endColorstr='#117cc0',GradientType=0);
	border-color: #117CC0 #117CC0 #0B4F7A;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	&:hover,
	&:active,
	&.active,
	&.disabled,
	&[disabled] {
		background-color: #117CC0;
		}
	&:active,
	&.active {
		background-color: #0D5E91 9;
		}
	}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	}

a.Button,
.Button,
.TabLink,
.Tabs .TabLink {
	.btn();
	}

.MenuTitle {
	.btn();
	.btn-mini();
	}

.Buttons {
	.Back {
		display: none;
		}
	}

a.BigButton {
	.btn();
	.btn-primary();
	display: block;
	font-weight: normal;
	margin: 0 0 10px;
	font-size: 15px;
	padding: 8px 0;
	} 

.Cancel {
	.btn();
	.btn-danger();
	}

.DraftButton {
	.btn-info();
	&.TabLink {
		.btn-primary();
		}
	}

.PreviewButton {
	.btn-primary();
	&.TabLink {
		.btn-info();
		}
	}
	
// Widgets, panels and containers
// -------------------------------------------------//

.Box {
	background: @whiterSmoke;
	padding: 10px 15px;
	border: 1px solid @tableBorder;
	.border-radius(4px);
	.box-shadow(none);
	
	> h4 {
		color: @grayDark;
		padding: 10px 15px;
		margin: -10px -15px 10px;
		background-color: @whiteSmoke;
		border-bottom: 1px solid @tableBorder;
		.border-radius(4px 4px 0 0);
		a {
			color: @grayDark;
			}
		}
	
	&.BoxCategories {
		> h4 {
			a:after {
				float: right;
				font-family: FontAwesome;
				font-weight: normal;
				content: "\f00b";
				}
			}
		}
	
	&.BoxSearch {
		background: @whiteSmoke;
		form {
			margin: 0;
			input {
				margin: 0;
				}
			#Form_Go {
				display: none;
				}
			}
		}
	
	&.About {
		dl {
			.dl-horizontal();
			margin-bottom: 0;
			}
		}
	
	.PanelInfo {
		border-top: none;
		&.PanelCategories {
			margin: -10px -15px;
			li {
				&.Heading {
					background: @whiteSmoke;
					}
				a {
					color: @grayDark;
					font-weight: bold;
					&:before {
						color: @grayLight;
						font-family: FontAwesome;
						font-weight: normal;
						content: "\f07b";
						margin-right: 5px;
						}
					&:hover {
						color: @linkColor;
						}
					}
				&.Active a {
					color: @linkColor;
					&:before {
						color: @linkColor;
						content: "\f07c";
						}
					}
				&.Depth3 {
					padding: 8px 15px 8px 32px;
					}
				}
			}
		li {
			background: @whiterSmoke;
			border-bottom: 1px solid @tableBorder;
			padding: 8px 15px;
			&:last-child {
				border-bottom: none;
				.border-radius(0 0 4px 4px);
				}
			&.Active {
				background: @whiteSmoke;
				.box-shadow(inset 0 3px 8px rgba(0, 0, 0, 0.05));
				}
			}
		}
	
	}

// Login dropdown
// -------------------------------------------------//

.login-dropdown {
	padding: 15px;
	form {
		margin-bottom: 0;
		}
	.UsernameLabel {
		span {
			font-size: 14px;
			}
		}
	.PasswordLabel {
		padding-top: 10px;
		span {
			font-size: 14px;
			}
		}
	fieldset {
		&.RememberMe {
			text-align: right;
			label {
				float: left;
				line-height: 28px;
				margin-top: 5px !important;
				margin-left: 0 !important;
				span {
					font-size: 14px;
					color: @grayLight;
					margin-left: 3px;
					}
				input {
					margin: 0;
					}
				}
			}
		}
	.CreateAccount {
		margin-top: 10px;
		margin-bottom: 0;
		a {
			padding-left: 0;
			}
		}
	}

// Tabs
// -------------------------------------------------//

.DiscussionsTabs,
.DiscussionTabs,
.ActivityTabs,
.ProfileTabs,
.CategoryHeadings,
.CategoryTabs {
	background: @whiteSmoke;
	border: 1px solid @tableBorder;
	padding: 10px 15px;
	.border-radius(4px 4px 0 0);
	
	.Breadcrumbs {
		.breadcrumb();
		.border-radius(0);
		border-width: 1px 0 0;
		margin: 10px -15px -10px;
		}
		
	}

.HeadingTabs {
	.SubTab {
		font-size: 20px;
		line-height: 28px;
		}
	}

// Datalist
// -------------------------------------------------//

.DataList {
	
	&.MessageList {
		border: solid @tableBorder;
		border-width: 0 1px;
		padding: 0;
		margin-bottom: 0;
		.Item {
			background: white;
			padding: 10px 15px 4px;
			border-bottom: 1px solid @whiteSmoke;
			&:last-child {
				border-bottom: none;
				}
			}
		}
	
	}

// Comments
// -------------------------------------------------//

form#Form_Comment {
	margin-bottom: 0;
	}

.CommentTabs {
	position: absolute;
	bottom: 10px;
	}

.CommentForm {
	background: @whiteSmoke;
	border: 1px solid @tableBorder;
	.border-radius(0 0 4px 4px);

	label {
		color: darken(@grayLight, 10%);
		}
	.Buttons {
		span {
			position: relative;
			top: 1px;
			color: darken(@grayLight, 10%);
			margin: 0 20px;
			}
		}
	textarea.TextBox {
		height: 40px;
		min-height: 40px;
		}
	}
	
.MessageForm {
	padding: 10px 15px;
	}

// Errors
// -------------------------------------------------//

.Errors ul {
	width: 100%;
	.btn();
	.btn-danger();
	li {
		display: inline;
		background: none !important;
		}
	}

// Labels
// -------------------------------------------------//

.Count,
.TabLink span {
	.label();
	background-color: @infoText;
	}

// Inputs
// -------------------------------------------------//

.TextBoxWrapper {
	width: auto;
	padding-right: 10px;
	}