// Import Bootstrap (Custom Vanilla build), Docs, Prettify and Redactor
// ---------------------------------------------------------------------------------------------------// Import stylesheets

	@import "bootstrap/bootstrap";					// Bootstrap
	@import "docs";									// Bootstrap Documentation style
	@import url("../css/prettify.css");				// Google Code Prettify
	@import url("../redactor/css/redactor.css");	// Redactor Editor

// Bootswatches
// ---------------------------------------------------------------------------------------------------// Bootswatches

// Change "Vanilla" in the url to a swatch of your liking. The included swatches can be found in the
// swatches direcotry. Swatches included: Cerulean, Journal, Simplex, Slate, Spacelab and United.
// NB: This version of VanillaBootstrap doesn't yet fully support Bootswatches!

	@import "swatches/Vanilla/variables";
	@import "swatches/Vanilla/bootswatch";

// Embed.less and Skins
// ---------------------------------------------------------------------------------------------------// Embed.less and Skins

	// If you want to embed your Vanilla forum, uncomment the following line to enable embed.less

	//@import "skins/embed";

	// The following files are optional LESS skins for use with the default Vanilla swatch

	//@import "skins/linen";

// Stylesheets for Plugins
// ---------------------------------------------------------------------------------------------------// Stylesheets for Plugins

	// The following files are stylesheets for plugins - enable any you wish */

	@import "plugins/ButtonBar";				// Button Bar Plugin
	//@import "plugins/CLEditor"; 				// CLEditor Plugin
	@import "plugins/Emotify"; 					// Emotify Plugin
	@import "plugins/LastEdited"; 				// Last Edited Plugin
	@import "plugins/Flagging";					// Flagging Plugin
	@import "plugins/QnA"; 						// QnA Plugin
	@import "plugins/Signatures"; 				// Signatures Plugin
	@import "plugins/Tagging";					//Tagging Plugin

// Additional Variables
// ---------------------------------------------------------------------------------------------------// Additional Variables

	@whiteSmoke: darken(@bodyBackground, 3%);
	@whiterSmoke: darken(@bodyBackground, 1%);

	@vanillaBodyBackground: lighten(@bodyBackground, 2%);

// Mixins
// ---------------------------------------------------------------------------------------------------// Mixins

	.fontIcon(@icon) {
		font-family: FontAwesome;
		font-weight: normal;
		content: @icon;
		}
	
	.legend {
		display: block;
		width: 100%;
		padding: 0;
		margin-bottom: 27px;
		font-size: 19.5px;
		line-height: 36px;
		color: #333;
		border: 0;
		border-bottom: 1px solid @tableBorder;
		}
	
	.btn-active {
		background-image: none;
		outline: 0;
		.box-shadow(~"inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)");
		}
	
	.btn-disabled {
		cursor: default;
		background-image: none;
		.opacity(65);
		.box-shadow(none);
		}

// Basic HTML Elements
// ---------------------------------------------------------------------------------------------------// Basic HTML Elements
	
	body {
		position: static;
		padding: 40px 0;
		font-smooth: always;
		-webkit-font-smoothing: antialiased;
		}
	
	a {
		&:hover {
			text-decoration: none;
			}
		}
	
	h1, h2, h3, h4, h5, h6, h7 {
		font-weight: 300;
		}
	
	ol, ul {
		list-style: none;
		margin: 0;
		}
	
	input {
		height: 28px;
		.box-sizing(border-box);
		}

	textarea {
		width: 100%;
		.box-sizing(border-box);
		}

	form {
		.form-horizontal();
		}

// Preloaders
// ---------------------------------------------------------------------------------------------------// Preloaders

	.Loading {
		width: 40px;
		margin: 0 auto;
		}

// Advanced Form Elements
// ---------------------------------------------------------------------------------------------------// Advanced Form Elements

	.CheckBoxLabel {
		.checkbox();
		padding-left: 0;
		input[type="checkbox"] {
			float: left;
			margin-right: 5px;
			}
		}
	
	.RadioLabel {
		.checkbox();
		padding-left: 0;
		input[type="radio"] {
			float: left;
			margin-right: 5px;
			margin-left: 1px;
			}
		}

// Textarea Forms
// ---------------------------------------------------------------------------------------------------// Textarea Forms

	.TextBoxWrapper {
		padding-right: 0;
		}

// Vanilla Forum Forms
// ---------------------------------------------------------------------------------------------------// Vanilla Forum Forms

	.FormWrapper {
		padding: 0;
		background: none;
		}

	// Comment Form

	#Form_Comment {
		margin-bottom: 0;
		.Buttons {
			display: inline-block;
			width: 100%;
			}
		.MarkupHelp {
			display: inline-block;
			line-height: 28px;
			margin-right: 15px;
			color: rgba(0,0,0,0.5);
			}
		}
	
	// Message Form
	
	#MessageForm {
		margin-top: 20px;
		}
	
	// Discussion Form
	
	#Form_Discussion {

		}
	
	// Activity form
	
	form.Activity {
		margin: 10px 0;
		textarea#Form_Comment.TextBox {
			margin-bottom: 5px;
			}
		}
	
// Buttons
// ---------------------------------------------------------------------------------------------------// Buttons

	// Basic Buttons

	.Button {
		.btn();
		}

	// BigButtons

	.BigButton {
		.btn();
		.btn-primary();
		display: block;
		margin: 10px 0;
		
		&.NewDiscussion {
			.btn-info();
			font-weight: bold;
			&:before {
				.fontIcon("\f044");
				margin-right: 5px;
				}
			}
		
		&.ClearConversation {
			.btn-danger();
			}
		
		}

	// Post Comment Buttons

	.CommentForm {

		.PreviewButton {
			.btn();
			margin: 0;
			&.Hidden {
				display: none;
				}	
			}

		.WriteButton {
			.btn();
			padding: 5px 10px 6px;
			margin: 0;
			&.Hidden {
				display: none;
				}
			}

		.DraftButton {
			.btn();
			.btn-info();
			margin: 0;
			}
		
		.CommentButton {
			.btn();
			.btn-primary();
			}
	
		}
	
	// Post Discussions Buttons
	
	#DiscussionForm {
		
		.Cancel {
			.btn();
			.btn-danger();
			margin-top: 20px;
			}
			
		.PreviewButton {
			
			}
		
		.DiscussionButton {
			
			}
			
		}

// Icons
// ---------------------------------------------------------------------------------------------------// Icons

// Tags and Labels
// ---------------------------------------------------------------------------------------------------// Tags and Labels

	.Tag {
		font-weight: normal;
		}

// Breadcrumbs
// ---------------------------------------------------------------------------------------------------// Breadcrumbs

	#Breadcrumbs {
		border-bottom: 1px solid rgba(0,0,0,0.07);
		margin-top: 1.5em;
		line-height: 2em;
		font-size: 14px;
		.Crumb {
			.hide-text();
			&:after {
				font-family: @sansFontFamily;
				color: lighten(@textColor, 15%);
				font-size: 14px;
				content: "→";
				}
			}
		}

// Main Navigation
// ---------------------------------------------------------------------------------------------------// Main Navigation
	
	.subhead h1 {
		font-size: 40px;
		font-weight: 300;
		height: 100px;
		line-height: 100px;
		width: 100%;
		}
	
	.subnav {
		left: 0 !important;
		width: 100% !important;
		height: 38px;
		.box-sizing(border-box);
		}

	.navbar-search {
		margin-top: 0;
		form {
			padding: 4px;
			margin-bottom: 0;
			}
		input[type="text"] {
			padding-right: 26px;
			margin-bottom: 0;
			}
		input[type="submit"] {
			background: url('../images/sprites.png') 0 -196px no-repeat transparent;
			height: 16px;
			width: 16px;
			padding: 0;
			border: none;
			position: absolute;
			top: 10px;
			right: 10px;
			.hide-text();
			.box-shadow(none);
			}
		}

// Sidebar Navigation
// ---------------------------------------------------------------------------------------------------// Sidebar Navigation

	#Panel {
		
		.FilterMenu,
		.PanelInfo {
			padding: 0 15px;
			> li {
				border-bottom: none;
				padding: 0;
				&:first-child {
					border-top: none;
					}
				}
			}

		.FilterMenu {
			padding: 0 15px;
			> li {
				> a {
					display: block;
					margin: 0 -15px;
					padding: 3px 15px;
					&:hover {
						background:  lighten(@tableBorder, 6%);
						}
					}
				&.Active > a {
					color: @white;
					font-weight: normal;
					text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
					background-color: @linkColor;
					}
				}
			}
		.PanelInfo {
			> li {
				display: block;
				overflow: auto;
				margin: 0 -15px;
				padding: 3px 15px;
				&:hover {
					background: rgba(0,0,0,0.07);
					}
				&.Active {
					background-color: @linkColor;
					> a, strong a {
						color: @white;
						font-weight: normal;
						text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
						}
					}
				}
			}
		}

// Content Column
// ---------------------------------------------------------------------------------------------------// Content Column
	
	.container {
		> .row-fluid {
			margin-top: 2em;
			}
		}
	
	.PageDescription {
		margin: 0;
		}

// Modal Windows
// ---------------------------------------------------------------------------------------------------// Modal Windows

	.Overlay {
		background: rgba(0,0,0,0.8);
		z-index: @zindexModal;
		}

	#Popup {
	
		.Box {
			border: none;
			background: none;
			padding: 0;
			}
	
		.Border {
			.modal();
			padding: 0;
			max-width: 500px;
			margin: -250px 0 0 -250px;
			}
		
		.Body {
			background: none;
			padding: 10px 15px;
			.Content {
				border: none;
				.border-radius(6px);
				h1, h2 {
					font-size: 18px;
					line-height: 27px;
					margin: -10px -15px 15px;
					font-weight: bold;
					.modal-header();
					color: @textColor;
					}
				h3 {
					padding: 0 0 9px !important;
					}
				p {
					padding: 0;
					}
				form,
				.Preview {
					.modal-body();
					overflow-x: visible;
					overflow-y: visible;
					padding: 0;
					border-bottom: none;
					}
				.Preview {
					overflow-y: scroll;
					}
				table {
					width: 100%;
					td {
						border: solid @tableBorder;
						border-width: 1px 0;
						padding: 2px 6px;
						}
					}
				.Info {
					margin-top: 0;
					}
					
				.SingleEntryMethod,
				.MultipleEntryMethods {
					width: 100%;
					}
				
				}
			.Footer {
				clear: both;
				.modal-footer();
				margin: 15px -15px -10px;
				border-top: 1px solid @tableBorder;
				.Close {
					.close();
					top: 14px;
					font-size: 24px;
					font-weight: normal;
					}
				}
			input.Button {
				font-size: 13px;
				&:focus {
					outline: none;
					}
				}
			}
		}

// Search Page
// ---------------------------------------------------------------------------------------------------// Search Page

	.SearchForm {
		background: rgba(0,0,0,0.05);
		.border-radius(4px);
		form {
			margin-bottom: 0;
			}
		input.InputBox {
			margin-right: 0;
			border-right: none;
			.border-radius(3px 0 0 3px);
			}
		input.Button {
			.btn-primary();
			.border-radius(0 3px 3px 0);
			}
		}

// Profile Pages
// ---------------------------------------------------------------------------------------------------// Profile Pages
	
	.Photo .ProfilePhotoLarge {
		width: 100%;
		margin-bottom: 10px;
		.box-sizing(border-box);
		}
	
	.CurrentPicture img {
		margin: 5px 0 10px;
		}
	
	.Thumbnail {
		img {
			max-width: inherit;
			}
		}
	
	#Status {
		margin: 10px 0;
		}
	
	.MeMenu .Alert {
		z-index: 10;
		}

// Login Pages
// ---------------------------------------------------------------------------------------------------// Login Pages
	
	.SingleEntryMethod,
	.MultipleEntryMethods {
		width: 470px;
		h1 {
			.legend();
			font-weight: normal;
			margin-bottom: 15px;
			}
		li {
			margin: 10px 0 0;
			&:first-child {
				margin-top: 0;
				}
			}
		.TextBoxWrapper {
			display: inline;
			}
		}
	
// Single Entry Login
// ---------------------------------------------------------------------------------------------------// Single Entry Login

	.SingleEntryMethod {

		#Form_User_SignIn {
			display: block !important;
			label[for="Form_Email"],
			label[for="Form_Password"] {
				font-size: 13px;
				display: inline-block;
				text-align: right;
				font-weight: normal;
				width: 130px;
				margin-top: 0;
				margin-right: 10px;
				}
			ul {
				overflow: auto;
				margin-right: 45px;
				li {
					float: right;
					}
				}
			.Messages ul {
				margin-right: 0;
				li {
					float: none;
					}
				}
			input {
				&#Form_Password {
					width: 210px !important;
					border-right: none;
					.border-radius(3px 0 0 3px);
					}
				&#Form_Email {
					width: 280px;
					max-width: 280px;
					}
				&#Form_SignIn {
					.btn-primary();
					float: right;
					width: 70px;
					margin: 0;
					}
				}
			.ForgotPassword {
				.btn();
				.btn-info();
				margin: 0;
				width: 70px;
				.border-radius(0 3px 3px 0);
				.box-sizing(border-box);
				}
			label[for="SignInRememberMe"] {
				padding: 5px 0;
				margin: 0;
				}
			.Buttons {
				width: 280px;
				margin: 15px 0 0;
				}
			.CreateAccount {
				width: 280px;
				}
			}
	
		#Form_User_Password {
			clear: both;
			margin-bottom: -15px;
			label[for="Form_Email"] {
				font-size: 13px;
				margin-top: 0;
				margin-right: 10px;
				margin-bottom: 0;
				display: inline-block;
				text-align: right;
				font-weight: normal;
				width: 130px;
				}
			ul {
				overflow: auto;
				margin-right: 45px;
				li {
					float: right;
					}
				}
			.Messages ul {
					margin-right: 0;
					li {
						float: none;
						}
					}
			input {
				&.InputBox {
					width: 280px;
					max-width: 280px;
					margin-top: -20px;
					}
				&#Form_Requestanewpassword {
					display: inline-block;
					float: left;
					margin: 10px 0;
					font-size: 12px;
					width: 160px;
					border-right: none;
					.border-radius(3px 0 0 3px);
					.box-sizing(border-box);
					}
				}
			.Buttons {
				width: 280px;
				margin-top: 0;
				div {
					display: inline-block;
					float: right;
					.box-sizing(border-box);
					}
				a {
					.btn();
					display: inline-block;
					font-size: 12px;
					margin: 10px 0;
					width: 120px;
					.border-radius(0 3px 3px 0);
					.box-sizing(border-box);
					}
				}
			}
		}

// Multiple Entry Login
// ---------------------------------------------------------------------------------------------------// Multiple Entry Login

	.MultipleEntryMethods {
		.MainForm {
			float: left;
			margin-bottom: 15px;
			.box-sizing(border-box);
			}
		.Methods {
			display: block !important;
			position: relative;
			float: right;
			top: 0;
			padding: 15px 0 15px 15px;
			margin-top: -15px;
			border-color: transparent;
			.box-sizing(border-box);
			}
		.Errors {
			width: 260px;
			}
	
		#Form_User_SignIn {
			display: block !important;
			label[for="Form_Email"],
			label[for="Form_Password"] {
				font-size: 13px;
				font-weight: normal;
				}
			input {
				&#Form_Password {
					width: 210px;
					border-right: none;
					.border-radius(3px 0 0 3px);
					}
				&#Form_Email {
					width: 280px;
					}
				&#Form_SignIn {
					.btn-primary();
					float: right;
					width: 70px;
					margin: 0;
					}
				}
			.ForgotPassword {
				.btn();
				.btn-info();
				margin: 0;
				width: 70px;
				.border-radius(0 3px 3px 0);
				.box-sizing(border-box);
				}
			label[for="SignInRememberMe"] {
				width: 210px;
				padding: 5px 0;
				margin: 0;
				}
			.Buttons {
				margin: 15px 0 0;
				}
			.CreateAccount {
				width: 280px;
				}
			}
	
		#Form_User_Password {
			label[for="Form_Email"] {
				font-size: 13px;
				font-weight: normal;
				margin-top: 15px;
				}
			input {
				&.InputBox {
					width: 280px;
					}
				&#Form_Requestanewpassword {
					display: inline-block;
					float: left;
					font-size: 12px;
					width: 160px;
					border-right: none;
					.border-radius(3px 0 0 3px);
					.box-sizing(border-box);
					}
				}
			.Buttons {
				margin-top: 0;
				div {
					display: inline-block;
					float: right;
					position: relative;
					}
				a {
					.btn();
					font-size: 12px;
					margin: 10px 0;
					width: 120px;
					.border-radius(0 3px 3px 0);
					.box-sizing(border-box);
					}
				}
			}

		}

	#FacebookAuth,
	#GoogleAuth,
	#OpenIDAuth,
	#TwitterAuth {
		float: right;
		padding: 3px;
		}

// Apply For Membership
// ---------------------------------------------------------------------------------------------------// Apply For Membership

	body.Entry.register .container-fluid,
	body.Entry.register .container {
		#Content {
			float: none;
			.center-block();
			width: 470px;
			.Box {
				border: none;
				background: none;
				padding: 0;
				}
			h1 {
				.legend();
				font-weight: normal;
				margin-bottom: 15px;
				}
			li {
				margin: 10px 0;
				&:first-child {
					margin: 0;
					}
				}
			#Form_User_Register {
				.TextBoxWrapper {
					display: inline;
					}
				label {
					display: inline-block;
					text-align: right;
					font-size: 13px;
					font-weight: normal;
					width: 130px;
					margin-right: 10px;
					}
				label[for="Form_SecurityCheck"],
				label[for="Form_TermsOfService"],
				label[for="Form_RememberMe"] {
					display: block;
					width: auto;
					text-align: left;
					}
				label.RadioLabel {
					width: auto;
					display: inline-block;
					text-align: left;
					margin-right: 20px;
					}
				label.CheckBoxLabel {
					clear: both;
					}
				input.InputBox {
					width: 280px;
					}
				textarea.TextBox {
					width: 100%;
					.box-sizing(border-box);
					}
				#recaptcha_table {
					width: 100%;
					}
				#recaptcha_response_field {
					padding: 4px !important;
					font-size: 13px;
					line-height: 18px;
					color: @gray !important;
					background-color: @vanillaBodyBackground;
					border: 1px solid @inputBorder !important;
					&:focus {
						border-color: rgba(82, 168, 236, 0.8) !important;
						}
					}
				}
			.Buttons {
				.form-actions();
				.Button {
					.btn-primary();
					margin: 0;
					}
				}
			}
		}

// Reset Password
// ---------------------------------------------------------------------------------------------------// Reset Password

	body.Entry.passwordrequest,
	#Popup {
		#Content, .Content {
			float: none;
			.center-block();
			width: 470px;
			h1 {
				.legend();
				font-weight: normal;
				margin-bottom: 15px;
				}
			#Form_User_Password {
				label[for="Form_Email"] {
					font-size: 13px;
					display: inline-block;
					text-align: right;
					font-weight: normal;
					width: 130px;
					padding: 0;
					margin-right: 10px;
					}
				ul {
				overflow: auto;
				margin-right: 45px;
					li {
						float: right;
						}
					}
				.Messages ul {
					margin-right: 0;
					li {
						float: none;
						}
					}
				input {
					&.InputBox {
						width: 280px;
						max-width: 280px;
						margin-top: -20px;
						}
					&#Form_Requestanewpassword {
						display: inline-block;
						float: left;
						margin: 10px 0;
						font-size: 12px;
						width: 160px;
						border-right: none;
						.border-radius(3px 0 0 3px);
						.box-sizing(border-box);
						}
					}
				.Buttons {
					width: 280px;
					margin-top: 0;
					div {
						display: inline-block;
						float: right;
						.box-sizing(border-box);
						}
					a {
						.btn();
						display: inline-block;
						font-size: 12px;
						margin: 10px 0;
						width: 120px;
						.border-radius(0 3px 3px 0);
						.box-sizing(border-box);
						}
					}
				}
			}
		}
	

// Data Tables
// ---------------------------------------------------------------------------------------------------// Data Tables
	
	.DataTable {
		margin-top: 10px;
		
		thead td {
			vertical-align: middle;
			border-top: 1px solid lighten(@tableBorder, 6%);
			border-bottom: 1px solid lighten(@tableBorder, 6%);
			padding: 8px 4px;
			}
		
		tbody {
			.BlockColumn {
				padding: 12px 4px;
				}
			}
		
		td {
			vertical-align: middle;
			border-bottom: 1px solid lighten(@tableBorder, 6%);
			.Wrap {
				position: relative;
				.box-sizing(border-box);
				.Options {
					height: 1px;
					}
				}
			}
		
		&.CategoryTable {
			tbody td {
				vertical-align: top;
				}
			}
	
	}

// Data Lists
// ---------------------------------------------------------------------------------------------------// Data Lists

	.DataList {
		margin-top: 10px;
		
		&.Discussions .Item {	
			padding: 8px 4px;
			}
		
		&.Comments .Item {
			padding: 15px 4px;
			.Message {
				padding: 10px 0 0;
				}
			}
			
		}

// Navigation Boxes
// ---------------------------------------------------------------------------------------------------// Navigation Boxes

	.Box {
		
		h4 {
			border-bottom: 1px solid  lighten(@tableBorder, 6%);
			padding-bottom: 5px;
			margin-bottom: 10px;
			}
		
		&.BoxCategories {
			
			}
	
	}

// Errors, Warnings and Alerts
// ---------------------------------------------------------------------------------------------------// Errors, Warnings and Alerts

	.Errors ul {
		.alert();
		.alert-error();
		}

	.Alert {
		.alert();
		.alert-error();
		padding: 1px 4px;
		}
		
	.MeMenu .Alert {
		.alert();
		.alert-error();
		padding: 1px;
		}
	
	.Count {
		.alert();
		.alert-info();
		padding: 1px 4px;
		}

	.HasNew {
		.alert();
		text-transform: capitalize;
		padding: 2px 5px;
		}

// Import Custom styles
// ---------------------------------------------------------------------------------------------------// Import Custom styles

	// This file must be placed at the end of this file, to make sure that it properly overrides it.

	@import "custom.less";

// The Epic End Credits
// ---------------------------------------------------------------------------------------------------// The Epic End Credits

	.credits.well {
		font-size: 11px;
		text-align: center;
		padding: 10px 15px;
		margin-top: 10px;
		color: lighten(@textColor, 35%);
		}